---
import BaseLayout from "@layouts/BaseLayout.astro"
import BlogPost from "@components/BlogPost.astro";
import { getCollection } from "astro:content";
// const allBlogPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const allBlogPosts = await getCollection("blog");
console.log(allBlogPosts, 'allBlogPosts');


---

<BaseLayout title="博客">
  <p>在这里，我将分享我的 Astro 学习之旅。</p>
  <ul>
    {allBlogPosts.map((post: any) => <BlogPost url={`blog/${post.slug}`} title = {post.data.title} />)}
  </ul>
</BaseLayout>