/* 导航样式 */

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

:root.dark .nav-links {
  background-color: #000;
  color: #fff;
  box-shadow: inset 0 -1px 0 0 #333;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #ff9776;
}

.expanded {
  display: block;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: flex;
    gap: 1rem;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 -1px 0 0 #eaeaea;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  .hamburger {
    display: none;
  }
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
}