---
import Scoial from "./Scoial.astro";
const platform = "github";
const username = "withastro";
---

<footer>
  <Scoial platform="抖音" username="TomatoXcj" />
  <Scoial platform="B站" username="TomatoXcj" />
  <Scoial platform="Github" username="TomatoXcj" />
  <p>在 <a href={`https://www.${platform}.com/${username}`}>{platform}</a> 上，了解有关我的项目的更多信息！</p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>