---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '../styles/global.css';
import '../styles/theme.css';
import '../styles/container.css';
const { pageTitle, skillColor, activeNavigate } = Astro.props;
---

<html lang="zh-cn">
  <head>
    <meta charset='utf-8'>
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Tomato's Blog</title>
    <style is:global define:vars={{ skillColor }}>
      body {
        display: flex;
        flex-direction: column;
      }
      .container {
        flex: 1;
        display: flex;
        /* overflow-y: scroll; */
        flex-direction: column;
        min-height: 100vh;
        width: 1300px;
        padding: 10px;
        /* border: 1px solid #ccc; */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
      }
      h1 {
        color: var(--skillColor);
      }
    </style>
  </head>
  <body>
    <div style="position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;z-index: -1;">
      <canvas id="fractalCanvas"></canvas>
    </div>
    <Header activeNavigate={activeNavigate} />
    <div class="container">
      <h1>{pageTitle}</h1>
      <slot />
    </div>
    <Footer />
    <script>
      import '../scripts/menu'
      // import '../scripts/background'
      import NativeFractalTree from '../scripts/tree.js'
      const screenWidth = window.innerWidth
      const screenHeight = window.innerHeight
      const canvas = document.getElementById('fractalCanvas')
      console.log(canvas);

      if (canvas) {
        const treeGenerator = new NativeFractalTree(canvas, {
          init: Math.random() * 5,
          len: Math.random() * 10,
          strokeStyle: '#00000040',
          lineWidth: 1,
          width: screenWidth,
          height: screenHeight,
        })
        treeGenerator.start()
      }
    </script>
  </body>
</html>